@font-face {
    font-family: "ptsans";
    src: url("/fonts/ptsans-400.woff2") format("woff2"),
    url("/fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
        font-family: "ptsans";
        src: url("/fonts/ptsans-700.woff2") format("woff2"),
        url("/fonts/ptsans-700.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        }
body{
    background-color: #fff;
    color: #000000;
    font-family: ptsans;
    font-weight: 700;
    font-family: ptsans,serif;
    margin: 0;
    padding: 0;
}  
ul,li,a{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000000;
}


.header {
    max-width: 1200px;
    max-height: 64px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header img{
    margin-right: 14px;
    min-width: 138px;
    min-height: 64px;
}
.menu {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    gap: 16px;
    line-height: 0.24;
    
}
/* .menu-item+menu.item {
    margin-left: 20px;
} */
.menu-link {
}
.menu-button {
    display: flex;
    gap:20px;
 
}
.header-search {

}
.btn-search {

}
.visually-hidden {
    display: none;

}
.header-favourite {

}
.btn-heart {

}
.fav-number {
}
.header-button {

    padding: 8px 34px;
    color: #fff;
    background-color: #756157;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    line-height: 0.2;
}
.promo {
    
    
}
.promo-first {
    position: relative;
}
/* .promo-first::after{
    width: 1200px;
    height: 485px;
    content: " ";
    background-image: url(/image/divider.jpg);
    position: absolute;
    z-index: -9;
    max-width: 100%;
} */
.promo-first:before{
    width: 1200px;
    height: 485px;
    display: block;
    content: " ";
    background-image: url(/icons/index-background.jpg);
    position: absolute;
    z-index: -10;
    max-width: 100%;
    object-fit: cover;
}

.title-first {
    padding-top: 51px;
    display: block;
    margin: 0 auto;
    padding-bottom: 82px;
}

.mini-town {
    margin-top: 69px;
}
.title-town {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
.subtitle-town {
    color: #333333;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 69px;
}
.first-card {
    display: flex;
    background-color: #82B3D3;
    
}
.first-item {
    min-width: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.title-card {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.text-card {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.img-card {
}
.two-card {
    display: flex;
    margin: 0 auto;
    align-items: center;
    /* min-width: 1200px;
    min-height: 385px; */
}
.two-item {
    max-width: 400px;
    max-height: 385px;
    padding: 112.5px 85px;
}
.title-two {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.text-two {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.card-item {
    max-width: 400px;
    max-height: 385px;
    padding: 112.5px 85px;
    align-items: center;
}
.third-card {
}
.third-item {
}
.title-third {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.text-third {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.relax {
}
.relax-title {
}
.relax-subtitle {
}
.container-advantages {
}
.advantages {
}
.first-advantages {
}
.title-advantages {
}
.subtitle-advantages {
}